<div class="display">
  <div class="history">{{ inputHistory }}</div>
  <div class="input">{{ inputValue || "0" }}</div>
</div>
<div class="br"></div>
<div class="controls">
  <div *ngFor="let control of controls" class="control" (click)="onButtonClick(control)">
    <ng-container [ngSwitch]="control.type">
      <ng-container *ngSwitchCase="ButtonType.CLEAR">C</ng-container>
      <ng-container *ngSwitchCase="ButtonType.CLEAR_ONE">⌫</ng-container>
      <ng-container *ngSwitchCase="ButtonType.CHAR">{{ isCharButton(control) && control.value }}</ng-container>
      <ng-container *ngSwitchCase="ButtonType.EQUAL">=</ng-container>
      <ng-container *ngSwitchCase="ButtonType.OPERATOR">{{ isOperatorButton(control) && control.display }}</ng-container>
    </ng-container>
  </div>
</div>
