<div class="display">
  <div class="history">20x80x0,5</div>
  <div class="input">800</div>
</div>
<div class="br"></div>
<div class="controls">
  <div class="control">C</div>
  <div class="control">√</div>
  <div class="control">%</div>
  <div class="control">/</div>
  <div class="control">7</div>
  <div class="control">8</div>
  <div class="control">9</div>
  <div class="control">x</div>
  <div class="control">4</div>
  <div class="control">5</div>
  <div class="control">6</div>
  <div class="control">-</div>
  <div class="control">1</div>
  <div class="control">2</div>
  <div class="control">3</div>
  <div class="control">+</div>
  <div class="control">00</div>
  <div class="control">0</div>
  <div class="control">,</div>
  <div class="control _white">=</div>
</div>
